<!--
Carla Lorena Flores Subias A01331363
Isabel García Pérez A01331405
-->
<!doctype html>
<html ng-app="cultura">
  <head>
    <meta charset="utf-8">
    <title>Cultura CDMX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/bootstrap-select.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/bootstrap-select.js"></script>
    <script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="scripts/collide.js"></script>
      <script type="text/javascript" src="scripts/z.collide.js"></script>
        <style>
          .ball { fill:steelblue;stroke:black}
          .wire {stroke:black;stroke-widh:1;fill:none}
        </style>
     <script>
     document.addEventListener("DOMContentLoaded", function () {
         // Create a popcorn instance by calling the Vimeo player plugin
         var pop = Popcorn.vimeo(
         '#video',
         'https://vimeo.com/193426204',{
            pauseOnLinkClicked: true
        });
  
        pop.code({
            start:4,
            end:10,
            onStart: function( options ) {
              document.getElementById( "test1" ).innerHTML="<a onclick='bellas()' class='btn mainb b5'>Actividades Bellas Artes</a>";
            },
            onEnd: function( options ) {
             document.getElementById( "test1" ).innerHTML = "";
           }
        });
        pop.code({
            start: 10,
            end:17,
            onStart: function( options ) {
              document.getElementById( "test1" ).innerHTML="<a type=button onclick='castillo()' class='btn mainb b1'>Actividades Castillo de Chapultepec</a>";
            },
            onEnd: function( options ) {
             document.getElementById( "test1" ).innerHTML = "";
           }
        });
        pop.code({
            start: 17,
            end:25,
            onStart: function( options ) {
              document.getElementById( "test1" ).innerHTML="<a onclick='musical()' class='btn mainb b2'>Actividades musicales</a>";
            },
            onEnd: function( options ) {
             document.getElementById( "test1" ).innerHTML = "";
           }
        });
        pop.code({
            start: 25,
            end:32,
            onStart: function( options ) {
              document.getElementById( "test1" ).innerHTML="<a onclick='soumaya()' class='btn mainb b3'>Actividades Museo Soumaya</a>";
            },
            onEnd: function( options ) {
             document.getElementById( "test1" ).innerHTML = "";
           }
        });
        pop.code({
            start:32,
            end:43,
            onStart: function( options ) {
              document.getElementById( "test1" ).innerHTML="<a  onclick='antro()' class='btn mainb b4'>Actividades Museo de Antropología</a>";
            },
            onEnd: function( options ) {
             document.getElementById( "test1" ).innerHTML = "";
           }
        });
        pop.code({
            start:43,
            end:60,
            onStart: function( options ) {
              document.getElementById( "test1" ).innerHTML="<a onclick='danza()' class='btn mainb b5'>Actividades danza</a>";
            },
            onEnd: function( options ) {
             document.getElementById( "test1" ).innerHTML="<a onclick='danza()' class='btn mainb b5'>Actividades danza</a>";
           }
        });
        pop.play();
      }, false);
      </script>
  </head>
    <body ng-controller="culturaController">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#" >Cultura CDMX</a>
            </div>
            <ul class="nav navbar-nav">
              <li id="homeb"><a href="#" onclick="view('home')">Home</a></li>
              <li id="catb"><a href="#" onclick="view('catalogo')">Catálogo</a></li> 
              <li id="bolb"><a href="#" onclick="view('bolitas')">D3</a></li> 
            </ul>
          </div>
        </nav>
      <div id="home">
         
        <div id="video"></div>
        <div id="test1"></div>
      </div>
      <div id="viz" class="display">
        <svg class="main"></svg>
        <svg class="main2"></svg>
        <button id="graph" class="btn b2 b">Cambiar gráfica</button>
      </div>
      <div id="catalogo" class="display">
            <div ng-repeat='item in actividades'>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-10'><label>Nombre:</label> {{item.nombre}}</div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Fecha:</label> {{item.fecha}}</div>
                      <div class='col-md-4'><label>Horario:</label> {{item.horario}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Programa:</label> {{item.programa}}</div>
                      <div class='col-md-4'><label>Tipo:</label> {{item.tipo}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Público:</label> {{item.publico}}</div>
                      <div class='col-md-4'><label>Lugar:</label> {{item.lugar}}</div>
                      <div class='col-md-2'></div>
                    </div>
                  <hr>
              </div>
      </div>
      <div id="bellasA" class="display">
            <div ng-repeat='item in actividades'>
                <div ng-if='item.lugar=="Palacio de Bellas Artes"'>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-10'><label>Nombre:</label> {{item.nombre}}</div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Fecha:</label> {{item.fecha}}</div>
                      <div class='col-md-4'><label>Horario:</label> {{item.horario}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Programa:</label> {{item.programa}}</div>
                      <div class='col-md-4'><label>Tipo:</label> {{item.tipo}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Público:</label> {{item.publico}}</div>
                      <div class='col-md-4'><label>Lugar:</label> {{item.lugar}}</div>
                      <div class='col-md-2'></div>
                    </div>
                  <hr>
                </div>
              </div>
          </div>
      <div id="castillo" class="display">
            <div ng-repeat='item in actividades'>
                <div ng-if='item.lugar=="Castillo de Chapultepec"'>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-10'><label>Nombre:</label> {{item.nombre}}</div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Fecha:</label> {{item.fecha}}</div>
                      <div class='col-md-4'><label>Horario:</label> {{item.horario}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Programa:</label> {{item.programa}}</div>
                      <div class='col-md-4'><label>Tipo:</label> {{item.tipo}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Público:</label> {{item.publico}}</div>
                      <div class='col-md-4'><label>Lugar:</label> {{item.lugar}}</div>
                      <div class='col-md-2'></div>
                    </div>
                  <hr>
                </div>
              </div>
          </div>
      <div id="soumaya" class="display">
            <div ng-repeat='item in actividades'>
                <div ng-if='item.lugar=="Museo Soumaya"'>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-10'><label>Nombre:</label> {{item.nombre}}</div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Fecha:</label> {{item.fecha}}</div>
                      <div class='col-md-4'><label>Horario:</label> {{item.horario}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Programa:</label> {{item.programa}}</div>
                      <div class='col-md-4'><label>Tipo:</label> {{item.tipo}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Público:</label> {{item.publico}}</div>
                      <div class='col-md-4'><label>Lugar:</label> {{item.lugar}}</div>
                      <div class='col-md-2'></div>
                    </div>
                  <hr>
                </div>
              </div>
          </div>
      <div id="antro" class="display">
            <div ng-repeat='item in actividades'>
                <div ng-if='item.lugar=="Museo de Antropología"'>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-10'><label>Nombre:</label> {{item.nombre}}</div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Fecha:</label> {{item.fecha}}</div>
                      <div class='col-md-4'><label>Horario:</label> {{item.horario}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Programa:</label> {{item.programa}}</div>
                      <div class='col-md-4'><label>Tipo:</label> {{item.tipo}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Público:</label> {{item.publico}}</div>
                      <div class='col-md-4'><label>Lugar:</label> {{item.lugar}}</div>
                      <div class='col-md-2'></div>
                    </div>
                  <hr>
                </div>
              </div>
          </div>
      <div id="danza" class="display">
            <div ng-repeat='item in actividades'>
                <div ng-if='item.tipo=="danza"'>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-10'><label>Nombre:</label> {{item.nombre}}</div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Fecha:</label> {{item.fecha}}</div>
                      <div class='col-md-4'><label>Horario:</label> {{item.horario}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Programa:</label> {{item.programa}}</div>
                      <div class='col-md-4'><label>Tipo:</label> {{item.tipo}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Público:</label> {{item.publico}}</div>
                      <div class='col-md-4'><label>Lugar:</label> {{item.lugar}}</div>
                      <div class='col-md-2'></div>
                    </div>
                  <hr>
                </div>
              </div>
          </div>
      <div id="musical" class="display">
            <div ng-repeat='item in actividades'>
                <div ng-if='item.tipo=="musical"'>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-10'><label>Nombre:</label> {{item.nombre}}</div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Fecha:</label> {{item.fecha}}</div>
                      <div class='col-md-4'><label>Horario:</label> {{item.horario}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Programa:</label> {{item.programa}}</div>
                      <div class='col-md-4'><label>Tipo:</label> {{item.tipo}}</div>
                      <div class='col-md-2'></div>
                    </div>
                    <div class='row'>
                      <div class='col-md-2'></div>
                      <div class='col-md-4'><label>Público:</label> {{item.publico}}</div>
                      <div class='col-md-4'><label>Lugar:</label> {{item.lugar}}</div>
                      <div class='col-md-2'></div>
                    </div>
                  <hr>
                </div>
              </div>
          </div>
  </body>
    <footer>
         <script type="text/javascript" src="scripts/zapp.js"></script>
    </footer>
    <script>
      var collapse=true;
      function view(s){
          if(s=='home'){
              $("#home").css("visibility","visible");
              $('#homeb').css("background","#ca5290");
              $('#catb').css("background","#29767e");
              $('#bolb').css("background","#29767e");
              $("#catalogo").css("visibility","hidden");
              $("#bellasA").css("visibility","hidden");
              $("#castillo").css("visibility","hidden");
              $("#soumaya").css("visibility","hidden");
              $("#antro").css("visibility","hidden");
              $("#danza").css("visibility","hidden");
              $("#musical").css("visibility","hidden");
              $("#viz").css("visibility","hidden");
          }else{
            if(s=='bolitas'){
                $("#home").css("visibility","hidden");
                $('#bolb').css("background","#ca5290");
                $('#catb').css("background","#29767e");
                $('#homeb').css("background","#29767e");
                $("#catalogo").css("visibility","hidden");
                $("#bellasA").css("visibility","hidden");
                $("#castillo").css("visibility","hidden");
                $("#soumaya").css("visibility","hidden");
                $("#antro").css("visibility","hidden");
                $("#danza").css("visibility","hidden");
                $("#musical").css("visibility","hidden");
                $("#viz").css("visibility","visible");
            }else{
                $("#home").css("visibility","hidden");
                $('#catb').css("background","#ca5290");
                $('#homeb').css("background","#29767e");
                $('#bolb').css("background","#29767e");
                $("#catalogo").css("visibility","visible");
                $("#bellasA").css("visibility","hidden");
                $("#castillo").css("visibility","hidden");
                $("#soumaya").css("visibility","hidden");
                $("#antro").css("visibility","hidden");
                $("#danza").css("visibility","hidden");
                $("#musical").css("visibility","hidden");
                $("#viz").css("visibility","hidden");
            }
          }
      }
      function bellas(){
          $("#home").css("visibility","hidden");
          $('#catb').css("background","#ca5290");
          $('#homeb').css("background","#29767e");
          $("#catalogo").css("visibility","hidden");
          $("#bellasA").css("visibility","visible");
          $("#castillo").css("visibility","hidden");
          $("#soumaya").css("visibility","hidden");
          $("#antro").css("visibility","hidden");
          $("#danza").css("visibility","hidden");
          $("#musical").css("visibility","hidden");
          $("#viz").css("visibility","hidden");
      }
      function castillo(){
          $("#home").css("visibility","hidden");
          $('#catb').css("background","#ca5290");
          $('#homeb').css("background","#29767e");
          $("#catalogo").css("visibility","hidden");
          $("#bellasA").css("visibility","hidden");
          $("#castillo").css("visibility","visible");
          $("#soumaya").css("visibility","hidden");
          $("#antro").css("visibility","hidden");
          $("#danza").css("visibility","hidden");
          $("#musical").css("visibility","hidden");
          $("#viz").css("visibility","hidden");
      }
      function soumaya(){
          $("#home").css("visibility","hidden");
          $('#catb').css("background","#ca5290");
          $('#homeb').css("background","#29767e");
          $("#catalogo").css("visibility","hidden");
          $("#bellasA").css("visibility","hidden");
          $("#castillo").css("visibility","hidden");
          $("#soumaya").css("visibility","visible");
          $("#antro").css("visibility","hidden");
          $("#danza").css("visibility","hidden");
          $("#musical").css("visibility","hidden");
          $("#viz").css("visibility","hidden");
      }
      function antro(){
          $("#home").css("visibility","hidden");
          $('#catb').css("background","#ca5290");
          $('#homeb').css("background","#29767e");
          $("#catalogo").css("visibility","hidden");
          $("#bellasA").css("visibility","hidden");
          $("#castillo").css("visibility","hidden");
          $("#soumaya").css("visibility","hidden");
          $("#antro").css("visibility","visible");
          $("#danza").css("visibility","hidden");
          $("#musical").css("visibility","hidden");
          $("#viz").css("visibility","hidden");
      }
      function danza(){
          $("#home").css("visibility","hidden");
          $('#catb').css("background","#ca5290");
          $('#homeb').css("background","#29767e");
          $("#catalogo").css("visibility","hidden");
          $("#bellasA").css("visibility","hidden");
          $("#castillo").css("visibility","hidden");
          $("#soumaya").css("visibility","hidden");
          $("#antro").css("visibility","hidden");
          $("#danza").css("visibility","visible");
          $("#musical").css("visibility","hidden");
          $("#viz").css("visibility","hidden");
      }
      function musical(){
          $("#home").css("visibility","hidden");
          $('#catb').css("background","#ca5290");
          $('#homeb').css("background","#29767e");
          $("#catalogo").css("visibility","hidden");
          $("#bellasA").css("visibility","hidden");
          $("#castillo").css("visibility","hidden");
          $("#soumaya").css("visibility","hidden");
          $("#antro").css("visibility","hidden");
          $("#danza").css("visibility","hidden");
          $("#musical").css("visibility","visible");
          $("#viz").css("visibility","hidden");
      }
      
      /*$("#search").click(function(){
          if(collapse){
              $( "#buscador" ).animate({
            top: "7%",
              }, 1000);
              $( "#search" ).animate({
                top: "27%",
              }, 1000);
              collapse=false;
          }else{
              $( "#buscador" ).animate({
            top: "-20%",
              }, 1000);
              $( "#search" ).animate({
                top: "7%",
              }, 1000);
              collapse=true;
        }
      });*/
    </script>
        <script>
        var sheller=true;
        
            $("#graph").click(function(){
            if(sheller){
            $(".main2").html("");
            var width = 960,
            height = 500;
            var nodes = d3.range(200).map(function() { return {radius: Math.random() * 12 + 4}; }),
            root = nodes[0],
            color = d3.scale.category10();

             root.radius = 0;
             root.fixed = true;

             var force = d3.layout.force()
             .gravity(0.05)
             .charge(function(d, i) { return i ? 0 : -2000; })
             .nodes(nodes)
             .size([width, height]);

             force.start();
            
             var svg = d3.select(".main2").append("svg")
             .attr("width", width)
             .attr("height", height);

             svg.selectAll("circle")
             .data(nodes.slice(1))
             .enter().append("circle")
             .attr("r", function(d) { return d.radius; })
             .style("fill", function(d, i) { return color(i % 3); });

             force.on("tick", function(e) {
             var q = d3.geom.quadtree(nodes),
             i = 0,
             n = nodes.length;

             while (++i < n) q.visit(collide(nodes[i]));

             svg.selectAll("circle")
             .attr("cx", function(d) { return d.x; })
             .attr("cy", function(d) { return d.y; });
             });

             svg.on("mousemove", function() {
             var p1 = d3.mouse(this);
             root.px = p1[0];
             root.py = p1[1];
             force.resume();
             });

             function collide(node) {
                 var r = node.radius + 16,
                 nx1 = node.x - r,
                 nx2 = node.x + r,
                 ny1 = node.y - r,
                 ny2 = node.y + r;
                 return function(quad, x1, y1, x2, y2) {
                 if (quad.point && (quad.point !== node)) {
                 var x = node.x - quad.point.x,
                 y = node.y - quad.point.y,
                 l = Math.sqrt(x * x + y * y),
                 r = node.radius + quad.point.radius;
                 if (l < r) {
                 l = (l - r) / l * .5;
                 node.x -= x *= l;
                 node.y -= y *= l;
                 quad.point.x += x;
                 quad.point.y += y;
                 }
                 }
                 return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
                 };
             }
            $(".main").css("visibility","hidden");
            $(".main2").css("visibility","visible");
            sheller=false;
            }else{
               $(".main").html("");
                var svg=d3.select(".main")
                .append("svg")
                .style("width","100%");

            var nodes = d3.range(400).map(function(d,i) {
              var radius = Math.random()*10+5 + (i<0 ? 55 : 0),
                  x=Math.random()*300+radius,
                  y=Math.random()*300+radius;
              return {radius:radius,mass:radius,x:x,y:y,px:x+Math.random()*2,py:y+Math.random()*2};
            });

            var ball = svg.selectAll(".ball")
              .data(nodes)
              .enter()
                .append("circle")
                .attr("class","ball")
                .attr("r",function(d) { return d.radius; });

            function redraw() {
              ball.attr("cx",function(d) { return d.x; });
              ball.attr("cy",function(d) { return d.y; });
              force.resume();
            }

            var force = d3.layout.force()
                .friction(1)
                .nodes(nodes)
                .charge(0).gravity(0)
                .on("tick.redraw",redraw)
                .start();

            ball.call(force.drag);
            d3.z.collide(force);


            function setBoundary() {
              var w = svg.node().offsetWidth,
                  h = (window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight)-20;
              svg.attr("height",h);
              d3.z.deflect(force,0,0,w,h);
            }
            setBoundary();
            window.onresize = setBoundary;
               $(".main").css("visibility","visible");
               $(".main2").css("visibility","hidden"); 
            sheller=true;
            }
                
          });
        </script>
</html>