body{
    overflow-x: hidden;
    overflow-y: scroll;
    background: #D6C29D;
    
}

#catalogo {
    visibility: hidden;
}
.navbar{
    background: #29767e ;
    color:white;
}
#homeb{
    background: #ca5290;
}
#homeb a,#catb a{
    color:white;
}
#hea a{
    color:white;
}
#home{
    position:relative;
    top: 10%;
    left:15vmax;
}
#video{
    width:70vmax;
    height:70vmin;
}
.mainb{
    margin-top:2%;
    width:70vmax;
    padding-top: 1%;
    padding-bottom: 1%;
    color:white;
    font-size: 16px;
}
.b1 {
    background: #29767e;
}
.b2 {
    background: #10968d;
}
.b3 {
    background: #644870;
}
.b4 {
    background:  #87123c;
}
.b5 {
    background:  #ca5290;
}
#search{
    position: absolute;
    top:7%;
}
#buscador{
    position: absolute;
    background:#10968d;
    width:100%;
    height:20%;
    top:-20%;
}
.display{
    position: absolute;
    top:10%;
    left:15vmax;
    width:70vmax;
    height:70vmin;
    visibility: hidden;
}